* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard';
}

/* 상단 초록색 바 */
.navbar-top {
  background-color: #1F4023;
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 200px;
}

.navbar-top-right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar-top-right span {
  color: white;
}

/* 네비게이션 바 */
.navbar {
  width: 1440px;
  height: 70px;
  margin: 0 auto;
  padding: 0 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

/* 로고 */
.navbar__logo a {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
}

.navbar__logo img {
  height: 28px;
  display: block;
}

.navbar__logo span {
  color: #1F4023;
  font-feature-settings: 'dlig' on;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 47px;
}

.navbar__menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/* 검색창 */
.navbar__search {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar__search input {
  width: 232px;
  height: 38px;
  padding: 16px 16px;
  border-radius: 10px;
  background: rgba(31, 64, 35, 0.10);
  font-size: 14px;
}

.navbar__search input {
  width: 232px;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #7A7A7A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.navbar__search input::placeholder {
  color: #8d8d8d;
}

.search-btn {
  position: absolute;
  right: 16px;
  cursor: pointer;
}

/* 하단바 */
.site-footer {
  width: 100%;
  background: #1F4023;
  color: #fff;
}

.footer__inner {
  width: 1440px;
  margin: 0 auto;
  padding: 92px 101px 101px;
  position: relative;
}

/* 로고 영역 */
.footer__brand {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer__logo {
  width: 28.234px;
  height: 27px;
}

.footer__title {
  color: #FFF;
  font-feature-settings: 'dlig' on;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

/* 설명문 */
.footer__desc {
  margin-top: 12px;
  width: 248px;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.80);
}

/* 깃허브 아이콘 */
.footer__github {
  display: inline-block;
  margin-top: 26px;
  width: 28px;
  height: 28px;
}

/* 구분선 */
.footer__divider {
  margin: 28px 0 28px;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.30);
}

/* 저작권 문구 */
.footer__copy {
  color: rgba(255, 255, 255, 0.60);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 홈화면 */
.home {
  background: #fff;
}

/* 배너 */
.hero {
  display: grid;
  place-items: center;
  width: 100%;
  height: 339px;
  overflow: hidden;
}

.hero__img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__text {
  grid-area: 1 / 1;
  background: rgba(255, 255, 255, 0.80);
  padding: 18px 26px;
}

.hero__text h1 {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 최신 상품 */
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 40px 176px 100px;
  margin-bottom: -40px;
}

.section-title {
  color: #000;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 40px;
}

/* 상품 카드 */
.product-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0;
}

.card {
  text-align: left;
}

.card__thumb {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.card__meta {
  margin-top: 10px;
  display: grid;
  gap: 6px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
}

.card__row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.badge {
  color: #D64541;
  font-weight: 700;
}

.card__name {
  font-weight: 600;
}

.card__price {
  color: #D64541;
  font-weight: 700;
}

.stars {
  color: #F5B301;
  letter-spacing: 1px;
}

.reviews {
  color: #7A7A7A;
}

.hearts {
  color: #D64541;
}
