.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffffff;
}

.login-card {
  display: flex;
  width: 544px;
  padding: 41px 56px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #FFF;
  box-shadow: 0 0 25px 10px rgba(31, 64, 35, 0.14);
}

.login-title {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}

.form-label {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-placeholder {
  color: #9096B2;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-input {
  height: 56px;
  padding: 0 16px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  font-size: 16px;
  color: #9096B2;
  font-family: 'Pretendard', sans-serif;
  outline: none;
}

.form-input:focus {
  border-color: #00462A;
  box-shadow: 0 0 0 2px rgba(0, 70, 42, 0.1);
}

.btn-login {
  display: flex;
  height: 68px;
  width: 432px;
  padding: 19px 183px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(31, 64, 35, 0.70);
  color: #ffffff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-login:hover {
  background:#00462A;
  cursor: pointer;
}

.login-help {
  text-align: center;
  color: #9096B2;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-signup {
  color: #9096B2;
  text-align: center;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.link-signup:hover {
  text-decoration: underline;
  cursor: pointer;
}