section.review-section {
  max-width: 1100px;
  margin: 40px auto;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.review-title {
  grid-column: 1 / -1;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #000;
}

.product-item {
  width: 100%;
}

.product-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.product-item p {
  margin: 4px 0;
}

.product-name {
  font-size: 13px;
  color: #888;
  font-weight: 500;
}

.review-link {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}

.review-link a {
  color: #000;
  text-decoration: none;
}

.review-link a:hover {
  color: #555;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-size: 14px;
}

.pagination>a {
  padding: 8px 12px;
  color: #555;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #000;
}

.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers a {
  margin: 0 5px;
  padding: 8px 12px;
  color: #555;
  text-decoration: none;
  border-radius: 4px;
}

.page-numbers span {
  margin: 0 5px;
  padding: 8px 12px;
  color: #999;
}

.pagination>a:hover,
.page-numbers a:hover {
  background-color: #f1f1f1;
}

.page-numbers a.active {
  background-color: #f1f1f1;
  color: #000;
  font-weight: 700;
}