main.product {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 30px;
  }

.top-section {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin-bottom: 50px;
  }

.product-image img {
    width: 550px;
    height: auto;
    border-radius: none;
    box-shadow: none;
  }

.product-details {
    flex: 1;
  }

h2 {
    border-bottom: none;
    padding-bottom: none;
    margin-top: 0;
  }

.stars_all {
  color: #f5b400;
  font-size: 1.1rem;
  margin-bottom: none;
}

.price {
    font-size: 20px;
    margin-bottom: 15px;
  }

.price .discount {
    color: black;
    font-weight: bold;
    margin-right: 6px;
  }

.price .origin {
    color: #888;
    text-decoration: line-through;
    margin-right: 6px;
  }

.price .percent {
    color: #d32f2f;
    font-weight: bold;
  }

.product-info ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.product-info li {
  display: grid;
  grid-template-columns: 120px 1fr;  margin-bottom: 5px;
  color: black;
}

.product-info li strong {
  font-weight: 600;
}

.divider {
    border-bottom: 2px solid #ddd;
    margin: 10px 0 15px;
}

.purchase-info {
  margin-top: 20px;
}

.amount {
  font-weight: bold;
  margin-bottom: 10px;
  color: #d32f2f; 
  font-size: 25px;
}

.quantity-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #f0f5f2;
  color: #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.quantity-control .quantity {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.quantity-control .stock {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

.summary {
  font-weight: bold;
}

.button-group {
    display : flex;
    justify-content: space-between;
    margin-top:20px;
}

button.buy, button.cart {
    padding: 10px 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

button.buy {
    background-color: hsla(124, 38%, 19%, 0.7);
    color: white;
  }

button.cart {
    background-color: hsla(124, 38%, 19%, 0.3);
    color: black;
  }

.desc {
    max-width: 100%;
    background: white;
    padding: 40px 30px;
    line-height: 1.7;
    margin-bottom: 50px;
  }

.review {
  max-width: 100%;
  padding: 40px 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.review article {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  flex: 1 1 45%;
  border: 1px solid #ddd;
  box-shadow: none;
}

.review .date {
  font-size: 0.85rem;
  color: #000000;
}

.review h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.stars {
  color: #f5b400;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.review-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.review-btn button {
  padding: 10px 70px;
  background-color: hsla(124, 38%, 19%, 0.3);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
