main.product {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 30px;
  }

.top-section {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    gap: 50px;
    align-items: flex-start;
  }

.product-image img {
    width: 530px;
    height: auto;
    border-radius: none;
    box-shadow: none;
  }

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

h2 {
    border-bottom: none;
    padding-bottom: none;
    margin-top: 0;
  }

.product-info ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.product-info li {
  display: grid;
  grid-template-columns: 120px 1fr;  margin-bottom: 5px;
  color: black;
}

.product-info li strong {
  font-weight: 400;
}

li {
  font-weight: 200;
}

.divider {
    border-bottom: 2px solid #ddd;
    margin: 10px 0 15px;
}

p.cont {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.stars {
  color: #f5b400;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 6px; 
  margin-bottom: 6px;
}

.rating {
  color: #333; 
  font-size: 0.95rem;
  font-weight: 500;
}

.review-meta {
  color: #777; 
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}

.button-p {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

button.prod {
  height: 50px;
  padding: 10px 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: hsla(124, 38%, 19%, 0.3);
  color: black;
}